<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xiaolin.mapper.OrderMapper">
    <select id="getOrderByNumber" resultType="com.xiaolin.vo.OrderVO">
        select id,
               number,
               status,
               user_id,
               address_book_id,
               order_time,
               checkout_time,
               pay_method,
               pay_status,
               amount,
               remark,
               phone,
               address,
               user_name,
               consignee,
               cancel_reason,
               rejection_reason,
               cancel_time,
               estimated_delivery_time,
               delivery_status,
               delivery_time,
               pack_amount,
               tableware_number,
               tableware_status
        from orders
        where number = #{orderNumber}
    </select>

    <select id="page" resultType="com.xiaolin.vo.OrderVO">
        select id,
               number,
               status,
               user_id,
               address_book_id,
               order_time,
               checkout_time,
               pay_method,
               pay_status,
               amount,
               remark,
               phone,
               address,
               user_name,
               consignee,
               cancel_reason,
               rejection_reason,
               cancel_time,
               estimated_delivery_time,
               delivery_status,
               delivery_time,
               pack_amount,
               tableware_number,
               tableware_status
        from orders
        <where>
            <if test="condition.userId != null">
                and user_id = #{condition.userId}
            </if>
            <if test="condition.status != null">
                and status = #{condition.status}
            </if>
            <if test="condition.number != null and condition.number != ''">
                and number = #{condition.number}
            </if>
            <if test="condition.phone != null and condition.phone != ''">
                and phone = #{condition.phone}
            </if>
            <if test="condition.beginTime != null">
                and order_time >= #{condition.beginTime}
            </if>
            <if test="condition.endTime != null">
                and order_time &lt;= #{condition.endTime}
            </if>
        </where>
        order by status, order_time desc
    </select>

    <select id="statistics" resultType="com.xiaolin.vo.OrderStatisticsVO">
        SELECT SUM(IF(status = 2, 1, 0)) AS toBeConfirmed,
               SUM(IF(status = 3, 1, 0)) AS confirmed,
               SUM(IF(status = 4, 1, 0)) AS deliveryInProgress
        FROM orders;
    </select>

    <select id="listByStatus" resultType="com.xiaolin.vo.OrderVO">
        select id,
               number,
               status,
               user_id,
               address_book_id,
               order_time,
               checkout_time,
               pay_method,
               pay_status,
               amount,
               remark,
               phone,
               address,
               user_name,
               consignee,
               cancel_reason,
               rejection_reason,
               cancel_time,
               estimated_delivery_time,
               delivery_status,
               delivery_time,
               pack_amount,
               tableware_number,
               tableware_status
        from orders
        where status = #{status}
    </select>

    <select id="sumByMap" resultType="java.lang.Double">
        select sum(amount)
        from orders
        <where>
            <if test="status != null">
                and status = #{status}
            </if>
            <if test="begin != null">
                and order_time &gt;= #{begin}
            </if>
            <if test="end != null">
                and order_time &lt;= #{end}
            </if>
        </where>
    </select>

    <select id="countByMap" resultType="java.lang.Integer">
        select count(id)
        from orders
        <where>
            <if test="status != null">
                and status = #{status}
            </if>
            <if test="begin != null">
                and order_time &gt;= #{begin}
            </if>
            <if test="end != null">
                and order_time &lt;= #{end}
            </if>
        </where>
    </select>

    <select id="getSalesTop10" resultType="com.xiaolin.dto.GoodsSalesDTO">
        select od.name as name, sum(od.number) as number
        from order_detail od,
             orders o
        where od.order_id = o.id
          and o.status = 5
        <if test="begin != null">
            and order_time &gt;= #{begin}
        </if>
        <if test="end != null">
            and order_time &lt;= #{end}
        </if>
        group by name
        order by number desc
        limit 0, 10
    </select>
</mapper>