<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xiaolin.mapper.UserMapper">
    <select id="getByOpenid" resultType="com.xiaolin.entity.UserDO">
        select id,
               openid,
               name,
               phone,
               sex,
               id_number,
               avatar,
               create_time
        from user
        where openid = #{openid}
    </select>

    <select id="countByMap" resultType="java.lang.Integer">
        select count(id)
        from user
        <where>
            <if test="begin != null">
                and create_time &gt;= #{begin}
            </if>
            <if test="end != null">
                and create_time &lt;= #{end}
            </if>
        </where>
    </select>

    <select id="getUserDailyStatistics" resultType="com.xiaolin.vo.UserDailyCountVO">
        SELECT DATE(create_time) as date,
               COUNT(*)          as newUserCount
        FROM user
        WHERE create_time >= #{begin}
          AND create_time &lt;= #{end}
        GROUP BY DATE(create_time)
        ORDER BY date
    </select>


    <select id="getUserCumulativeStatistics" resultType="com.xiaolin.vo.UserCumulativeCountVO">
        SELECT DATE(create_time)                               AS date,
               COUNT(*)                                        AS dailyNewUsers,
               SUM(COUNT(*)) OVER (ORDER BY DATE(create_time)) AS cumulativeUsers
        FROM user
        WHERE create_time >= #{begin}
          AND create_time &lt;= #{end}
        GROUP BY DATE(create_time)
        ORDER BY date
    </select>
</mapper>